# version: '3.4'

# services:
#   productapi:
#     container_name: product-api-container
#     build:
#       context: ./ProductApi
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5001:80"

#   customerapi:
#     container_name: customer-api-container
#     build:
#       context: ./CustomerApi
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5002:80"

#   apigateway:
#     container_name: gateway-container
#     build:
#       context: ./ApiGateway
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5000:80"
#     depends_on:
#       - productapi
#       - customerapi
# version: '3.4'

# services:
#   productapi:
#     container_name: product-api-container
#     # Docker Hub Link
#     image: karantaneja2501/microservicesheelloimages:product
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5001:80"

#   customerapi:
#     container_name: customer-api-container
#     # Docker Hub Link
#     image: karantaneja2501/microservicesheelloimages:customer
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5002:80"

#   apigateway:
#     container_name: gateway-container
#     # Docker Hub Link
#     image: karantaneja2501/microservicesheelloimages:gateway
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5000:80"
#     depends_on:
#       - productapi
#       - customerapi 


# version: '3.4'

# services:
#   productapi:
#     container_name: product-api-container
#     # Cloud Link (If build fails or context is missing, it pulls from here)
#     image: karantaneja2501/microservicesheelloimages:product
#     build:
#       context: ./ProductApi
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5001:80"

#   customerapi:
#     container_name: customer-api-container
#     # Cloud Link
#     image: karantaneja2501/microservicesheelloimages:customer
#     build:
#       context: ./CustomerApi
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5002:80"

#   apigateway:
#     container_name: gateway-container
#     # Cloud Link
#     image: karantaneja2501/microservicesheelloimages:gateway
#     build:
#       context: ./ApiGateway
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5000:80"
#     depends_on:
#       - productapi
#       - customerapi 


# services:
#   productapi:
#     container_name: product-api-container
#     image: karantaneja2501/microservicesheelloimages:product
#     build:
#       context: ./ProductApi
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5001:80"

#   customerapi:
#     container_name: customer-api-container
#     image: karantaneja2501/microservicesheelloimages:customer
#     build:
#       context: ./CustomerApi
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5002:80"

#   apigateway:
#     container_name: gateway-container
#     image: karantaneja2501/microservicesheelloimages:gateway
#     build:
#       context: ./ApiGateway
#       dockerfile: Dockerfile
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_URLS=http://+:80
#     ports:
#       - "5000:80"
#     depends_on:
#       - productapi
#       - customerapi


services:
  productapi:
    container_name: product-api-container
    build:
      context: .
      dockerfile: ProductApi/Dockerfile
    ports:
      - "5001:80"

  customerapi:
    container_name: customer-api-container
    build:
      context: .
      dockerfile: CustomerApi/Dockerfile
    ports:
      - "5002:80"

  apigateway:
    container_name: gateway-container
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    ports:
      - "5000:80"
    depends_on:
      - productapi
      - customerapi